header {
    background: #BBBBBB;
    padding: 30px;
}
.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.caixa h1 img {
    max-height: 200px;
    max-width: 127px;
}
nav {
    position: absolute;
    top: 110px;
    right: 0px;

}

nav ul {
    display: inline;
    margin-right: 0px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #ffc042;
}

#banner{
    width: 100%;
}

.principal{
    padding: 50px;
    margin: 30px;
}

.titulo-principal{
    padding-left: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

p {
    margin: 50px;
    text-align: center;
    font-size: 15px;
}

#quote {
    font-size: 15px;
}

#quote strong {
    font-style: italic;
}

em strong {
    color: #d48e00;
}

#quote strong:hover {
    font-size: 20px;
}

.img-beneficios{
    width: 100%;

}

.beneficios {
    padding: 50px;
    margin: 30px;
    text-align: center;
}

.lista-geral {
    display: inline;
    vertical-align: top;
    width: 20%;
}

.lista{
    font-style: italic;
    font-size: 20px;
    margin: 30px;
}

.lista:hover{
    color: #d48e00;
    font-size: 23px;
}

footer {
    text-align: center;
    background: url(img/bg.jpg);
    padding: 40px 0;
}

footer img {
    max-width: 77px;
    max-height: 150px;
    
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 10px;
}